# Git
.git
.gitignore
README.md

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
pip-log.txt
pip-delete-this-directory.txt

# Django
*.log
db.sqlite3
local_settings.py

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml
deploy.sh

# Documentation
docs/
*.md

# Media (en développement)
media/
staticfiles/

# Environment
.env.example